{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Despre noi!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>La finele anului 2009, Cake Expert a luat naștere în Iași, cu un prim laborator și micul magazin de pe Bulevardul Chimiei, nr 35. Alături de oamenii Cake Expert am creat povești dulci, am livrat la domiciliu zâmbete și am sărbătorit alături de clienții și colegii noștri deopotrivă. Cu timpul ne-am extins, astfel că acum ne bucurăm de 5 magazine fizice și un laborator pe Calea Chisinaului, nr 29. În fiecare zi punem muncă și pasiune în produsele noastre astfel încât fiecare mușcătură dintr-un tort cu ciocolată, un tort cu fructe sau un tort medovik să îți gâdile papilele și să-ți creeze cele mai frumoase amintiri.</p>
        </div>
    </div>
</div>
{% endblock content %}
