{% extends 'restaurant/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"style="padding-top:50px">
        <div class="col-md-6 col-sm-4 text-center mt-3"style="padding-bottom:50px">
            <h1>ID Comanda: {{ order.pk }}</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h3>Informatii despre client:</h3>
            <p><span style="font-weight: 400;">Nume:</span> {{ customer.name }}</p>
            <p><span style="font-weight: 400;">Email:</span> {{ customer.email }}</p>
        </div>
        <div class="col-sm-4">
            <h3>Produse comandate</h3>
            {% for element in elements %}
                <p><span style="font-weight: 400;"></span> {{ element.name }} - {{ element.quantity }}kg </p>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <h3>Informatii despre plata si livrare</h3>
            <p class="mt-3">{% if order.is_paid %}
                <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Comanda a fost platita!</span></p>
                {% else %}
                <p><i style="color: red;" class="fas fa-times"></i><span class="pl-2">Comanda nu a fost platita!</span></p>
                {% endif %}</p>
                {% if order.is_shipped %}
                <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Comanda a fost livrata!</span></p>
                {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Marcheaza ca livrata</button>
                </form>
                {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h3 class="pt-3">Adresa client:</h3>
            <p><span style="font-weight: 400;">Strada:</span> {{ customer.street }}</p>
            <p><span style="font-weight: 400;">Localitate:</span> {{ customer.city }}</p>
            <p><span style="font-weight: 400;">Judet:</span> {{ customer.state }}</p>
            <p><span style="font-weight: 400;">Cod postal:</span> {{ customer.zip_code }}</p>
            <p><span style="font-weight: 400;">Telefon:</span> {{ customer.phone }}</p>
            <p><span style="font-weight: 400;">Data livrare:</span> {{ customer.deliver_date }}</p>
            <p><span style="font-weight: 400;">Ora livrare:</span> {{ customer.deliver_time }}</p>
        </div>
        <div class="col-sm-4">
            <h3 class="pt-3">Adresa livrare:</h3>
            <p><span style="font-weight: 400;">Strada:</span> {{ deliver.deliver_street }}</p>
            <p><span style="font-weight: 400;">Localitate:</span> {{ deliver.deliver_city }}</p>
            <p><span style="font-weight: 400;">Judet:</span> {{ deliver.deliver_state }}</p>
            <p><span style="font-weight: 400;">Cod postal:</span> {{ deliver.deliver_zip_code }}</p>
            <p><span style="font-weight: 400;">Telefon:</span> {{ deliver.deliver_phone }}</p>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="pt-3">Mesaj decorare tort:</h4>
            <p> {{ customer.cake_text }} </p>
          </div>
        </div>
    </div>
</div>

{% endblock content %}
